/*------------------------------------*\
    #Hero
\*------------------------------------*/
.header-transparent + .hero,
.header-transparent + .slider {
    margin-top: -100px;
}
.header.overlayer-fixed {
    position: absolute;
    z-index: 3;
    padding-top:50px;
    width: 100%;
}
.header.overlayer-fixed > .row {
    max-width: 1170px;
    margin: 0 auto;
}
.slider {
    height: 100%!important;
    max-height: 100%!important;
    padding-top: 0;
    padding-bottom: 0;
    text-align:center;
}
.rev_slider li.tp-revslider-slidesli {
    position: absolute!important;
    margin-top: 0px!important;
}
.slider .slide--item {
    height: 100%;
}

.slider .slide--subheadline,
.slider .slide--bio {
    color: #f9f9f9;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
}

.slider .slide--headline {
    color: #ffffff;
    line-height: 65px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
    font-size:110px;
}
 .slider .slide--headline1 {
    color: #ffffff;
    font-weight: 300;
    line-height: 130px;
    margin-bottom: 20px;
    font-size:127px;
    text-align: left;
 margin-left: 50px;
 font-weight: 700;
   
}
.slider .slide--headline.extend {
    line-height: 1.2;
}

.slider .slide--bio {
    margin-bottom: 40px;
}

.hero .hero--content {
    margin-bottom: 47px;
}

.hero .hero--headline {
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    line-height: 70px;
    margin-bottom: 22px;
    color: #ffffff;
}

.hero .hero--desc {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0;
}

.hero-1 .hero--desc {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color: #ffffff;
    padding: 0 80px;
}

.hero-1 + .cta-3 {
    margin-top: -55px;
}

/* hero #2 */
.hero-2 .bitcoin-calculator {
    background-color: rgba(255, 255, 255, 0.25);
}

.hero-2 .hero--desc {
    font-size: 14px;
}

/* Revoultion Slide bullets */
.slider .zeus .tp-bullet {
    height: 7px;
    width: 7px;
    border-color: transparent;
}

.slider .tp-bullet.selected,
.slider .tp-bullet:hover {
    background-color: transparent;
    border-color: #ffffff;
}

.slider .zeus .tp-bullet:after {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.slider .zeus .tp-bullet:hover:after,
.slider .zeus .tp-bullet.selected:after {
    -webkit-transform: scale(0);
    transform: scale(0);
}

/* Revoultion Slide Overlay */
.slide-overlay-dark .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: rgba(27, 26, 26, 0.35);
}

.slide-overlay-black .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.17);
}

.slide-overlay-black2 .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: rgba(27, 26, 26, 0.85);
}

.slider .btn--video {
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 1px;
    height: auto;
}

.slider .btn--video:hover {
    color: #ffb400;
}

.slider .btn--video i {
    width: 50px;
    height: 50px;
    line-height: 48px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffffff;
    margin-right: 13px;
    font-size: 14px;
}

.slider .btn--video:hover i {
    border: 2px solid #ffb400;
}

.store-slider .slide--headline,
.store-slider .slide--bio {
    color: #282828;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {

.slider .slide--headline {
    line-height: 1.1;
}

.slider .slide--bio {
    width: 320px;
    white-space: normal;
}

.slide-action .mr-30 {
    margin-right: 20px !important;
}

.slide-action .btn:not(.btn--video) {
    width: 130px;
    height: 40px;
    line-height: 38px;
    font-size: 12px;
}

.slider .btn--video {
    padding-left: 30px;
}

.slider .btn--video i {
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffffff;
    margin-right: 10px;
    font-size: 12px;
}

.slider,
 .slider .slide--item {
    height: 600px;
}

.zeus .tp-bullet {
    display: none;
}

.hero-1 {
    padding: 150px 0 100px;
}

.hero-1 .hero--headline {
    font-size: 40px;
    line-height: 50px;
}

.hero-1 .hero--desc {
    padding: 0;
}

.hero-1 .pos-vertical-center {
    position: static;
    -webkit-transform: perspective(1px) translateY(0);
    -moz-transform: perspective(1px) translateY(0);
    -o-transform: perspective(1px) translateY(0);
    transform: perspective(1px) translateY(0);
}

.slider .countdown-2 {
    display: none;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.slider {
    height: 100%;
}

.slider-portfolio .slide--headline {
    font-size: 25px !important;
}

.slider .countdown-2 {
    display: none;
}
}
.navbar li .dropdown-item, .navbar li .nav-link {
    color: #ffffff;
}
a.btn.btn--red.btn--rounded  {
    color: #fff;
    width: auto;
    background-color: #ffc100;
    padding: 0 40px;
    text-align: center;
    margin: 40px auto 0;
    display: inline-block;
    height: 60px;
    line-height: 58px;
    background-position: 32px;
    transition: background-color .5s ease, color .5s ease;
    border: 2px solid #ffc100;
    margin-right:30px;
    font-size: 20px;
    color: #000;
    border-radius: 0;
}
a.btn.btn--white.btn--rounded {
    width: auto;
    background-color: transparent;
    padding: 0 40px;
    text-align: center;
    margin: 40px auto 0;
    display: inline-block;
    height: 60px;
    line-height: 58px;
    background-position: 32px;
    transition: background-color .5s ease, color .5s ease;
    color: #fff;
    border-radius: 0;
    border: 2px solid;
    font-size: 20px;
}
a.btn.btn--white.btn--rounded:hover{
    background:  #ffc100;
    border: 2px solid #ffc100;
    color: #000;
}
.slide--top{
    text-transform: uppercase;
    position: relative;
    color:#fff;
    letter-spacing: 2px;
}
.slide--top:before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background: #ffc100;
    top: -30px;
    left: 50%;
    margin-left: -35px;
}
.slide--top1{
    text-transform: uppercase;
    position: relative;
    color:#fff;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 60px;
}
.slide--top1:before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background: #ffc100;
    top: -20px;
    left: 0;
    margin-left: 0px;
}
.tp-bannertimer {
    visibility: hidden;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 200;
    top: 0px;
}
a.btn.btn--red1.btn--rounded  {
color: #fff;
    width: auto;
    padding: 0;
    text-align: center;
    margin: 40px auto 0;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    background-position: 0;
    transition: background-color .5s ease, color .5s ease;
    margin-right: 0;
    outline: 0;
    margin-left: 60px;
    text-transform: uppercase;  
}
a.btn.btn--red1.btn--rounded span {
    color: #fff;
    padding: 0;
    border-radius: 50%;
    font-size: 13px;
    letter-spacing: 1px;
    -webkit-transition: all .5s;
    transition: all .5s;
   background-color: #ffc100;
    margin-right: 15px;
        float: left;
        text-align: center;
}
.navbar li .dropdown-item {
    color: #0e0e0f;
}
.navbar li .nav-link:before{
    background-color: #fff;
}
.header.overlayer-fixed.fixed-small .navbar li .nav-link:before{
    background-color: #000;
}
@media(max-width:1650px) and (min-width:1025px){
    .slide--top1 {
        text-transform: uppercase;
        position: relative;
        color: #fff;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 140px;
        margin-left: 60px;
    }
    .slider .slide--headline1 {
        color: #ffffff;
        font-weight: 300;
        line-height: 100px;
        margin-bottom: 20px;
        font-size: 97px;
        text-align: left;
        margin-top: 90px;
        margin-left: 50px;
    }
    a.btn.btn--red1.btn--rounded {
        color: #fff;
        width: auto;
        padding: 0;
        text-align: center;
        margin: 130px auto 0;
        display: inline-block;
        height: 70px;
        line-height: 70px;
        background-position: 0;
        transition: background-color .5s ease, color .5s ease;
        margin-right: 0;
        outline: 0;
        margin-left:50px;
    }
    a.btn.btn--red1.btn--rounded span {
        width: 70px;
    }
    .slider .slide--headline{
        font-size:90px;
    }
    .slider .slide--bio{
        padding: 0 90px;
    }
}
@media(max-width:1280px) and (min-width:1025px){
     .slide--top1 {
        margin-left:53px;
        margin-top: 180px;
    }
     .slider .slide--headline1  {
         margin-left:43px;
         font-size: 80px;
        text-align: left;
        margin-top: 120px;
        line-height: 85px;
     }
     a.btn.btn--red1.btn--rounded  {
         margin-left:50px;
     }
     .slide--top{
        margin-top:80px;
     }
     .slider .slide--headline {
        font-size: 80px;
        margin-top:50px;
    }
    .slider .slide--bio{
        margin-top:20px;
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .header.overlayer-fixed {
    position: absolute;
    z-index: 3;
    padding-top: 13px;
    width: 100%;
}
    .slider{
            height: 80vh!important;
    max-height: 80vh!important;
    }
    .slider .slide--headline1 {
        color: #ffffff;
        font-weight: 300;
        line-height: 110px;
        margin-bottom: 20px;
        font-size: 97px;
        text-align: left;
        margin-left: 80px;
        margin-top: 20px;
    }
    .slide--top1 {
        text-transform: uppercase;
        position: relative;
        color: #fff;
        letter-spacing: 1px;
        text-align: left;
        margin-left: 90px;
        margin-top: 50px;
    }
    a.btn.btn--red1.btn--rounded {
        color: #fff;
        width: auto;
        padding: 0;
        text-align: center;
        margin: 40px auto 0;
        display: inline-block;
        height: 70px;
        line-height: 70px;
        background-position: 0;
        transition: background-color .5s ease, color .5s ease;
        margin-right: 0;
        outline: 0;
        margin-left: 80px;
    }
    a.btn.btn--red1.btn--rounded span {
        color: #fff;
        padding: 0;
        border-radius: 50%;
        font-size: 13px;
        letter-spacing: 1px;
        -webkit-transition: all .5s;
        transition: all .5s;
        background-color: #ff060a;
        margin-right: 15px;
        float: left;
        width: 70px;
    }
}
@media(max-width: 768px){
 .slider .slide--headline{
            font-size: 40px;

    }
     .slider{
            height: 92vh!important;
    max-height: 92vh!important;
    }
    .slider .slide--headline1 {
        color: #ffffff;
        font-weight: 300;
        line-height: 50px;
        margin-bottom: 20px;
        font-size: 37px;
        text-align: left;
         margin-left:20px;
    }
    .header.overlayer-fixed {
        position: absolute;
        z-index: 3;
        padding-top: 0;
        width: 100%;
        padding-bottom: 0;
    }
    .slide--top1 {
        text-transform: uppercase;
        position: relative;
        color: #fff;
        letter-spacing: 1px;
        text-align: left;
        font-size: 14px;
        margin-left: 20px;
        line-height: 20px;
    }
    a.btn.btn--red1.btn--rounded span {
        color: #fff;
        padding: 0;
        border-radius: 50%;
        font-size: 13px;
        letter-spacing: 1px;
        -webkit-transition: all .5s;
        transition: all .5s;
        background-color: #ff060a;
        margin-right: 15px;
        float: left;
        width: 70px;
        text-align: center;
    }
    .slide--top {
        letter-spacing: 2px;
        font-size: 14px;
    }
    a.btn.btn--red1.btn--rounded{
        margin-left: 20px;
    }
    .slider .slide--bio {
        width: 320px;
        white-space: normal;
        margin-top: 10px;
        font-size: 11px;
    }
    a.btn.btn--red.btn--rounded{
        display: block;
        margin: 70px auto 0;
        height: 50px;
        line-height: 50px;
    }
    a.btn.btn--white.btn--rounded{
        display: block;
         margin: 15px auto 0;
          height: 50px;
        line-height: 50px;
    }
    a.btn.btn--red1.btn--rounded span img{
                width: 50px!important;
             height: 50px!important;
    }
    .slide--top1 {
        margin-left:43px;
       
    }
     .slider .slide--headline1  {
         margin-left:43px;
         font-weight: 700;
        
     }
     a.btn.btn--red1.btn--rounded  {
         margin-left:43px;
     }
}
@media(min-width: 768px) and (max-width: 1023px){
#slider1, .tp-revslider-mainul, .slider, .slider .slide--item, .rev_slider_wrapper, div#slider1_forcefullwidth {
    height: 780px !important;
    max-height: 780px !important;
}
.slide--top1 {
    margin-left: 43px;
    margin-top: 130px;
}
a.btn.btn--red1.btn--rounded {
    margin-top: -60px;
    margin-left: 43px;
}
.slider .slide--headline{
        font-size: 50px;
    margin-top: -40px;
    text-transform: lowercase;
}
.slider .slide--bio {
    width: 320px;
    white-space: normal;
    margin-top: -80px;
    font-size: 14px;
    text-align: center!important;
}
a.btn.btn--red.btn--rounded {
    display: block;
    margin: -80px auto 0;
    height: 50px;
    line-height: 50px;
}
}
@media(max-width: 768px) and (max-height: 400px){
.slide--top1 {
        margin-top:83px;
       
}
 .slider .slide--headline1 {
margin-left: 43px;
font-size: 40px;
line-height: 40px;
margin-top: 30px;
}
 a.btn.btn--red1.btn--rounded  {
     margin-left:43px;
     margin-top:-20px;
 }
 .slider .slide--headline{
    margin-top:-20px;
 }
 .slider .slide--bio {
    margin-top: -35px;
}
a.btn.btn--red.btn--rounded {
    display: inline-block;
    margin: -60px 10px 0;
}
a.btn.btn--white.btn--rounded {
    display: inline-block;
    margin: -65px 0 0;
}
}