@{
    ViewData["Title"] = "Home Page";
}

<section id="slider" class="slider slide-overlay-black">
    <!-- START REVOLUTION -->
    <div class="rev_slider_wrapper tp-mouseover" style="max-height: none; overflow: visible; height: 362px;">
        <div id="slider2" class="rev_slider revslider-initialised tp-simpleresponsive" data-version="5.0" style="max-height: none; margin-top: 0px; margin-bottom: 0px; height: 100%;" data-slideactive="rs-6">
            <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1519px; height: 100%; max-height: none; left: 0px;">
                <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/img/banner1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                    <!-- MAIN IMAGE -->
                    <div class="slotholder " style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="/img/banner1.jpg" alt="a" title="main-slider-backround-1" width="1920" height="1200" data-bgposition="center center" data-duration="13000" data-ease="Power0.easeInOut" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="7" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;/img/banner1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="/img/banner1.jpg"></div></div>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 514px; top: 73px; z-index: 5;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                            <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                <div class="tp-caption   tp-resizeme" id="slide-6-layer-1" data-x="['left','left','left','left']" data-hoffset="['-89','-7','15','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-110','-73','-111','-131']" data-fontsize="['132','100','95','55']" data-lineheight="['120','105','100','60']" data-letterspacing="['-9','-8','-7','-4']" data-width="['804','627','517','297']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:500,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:350px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power1.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; font-size: 60px; line-height: 63px; font-weight: 700; font-family: Barlow, sans-serif; color: rgb(255, 255, 255); letter-spacing: -5px; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; white-space: normal; min-height: 0px; min-width: 378px; max-height: none; max-width: 378px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                    New Album <br> Out Now
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 518px; top: 225px; z-index: 1;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                            <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                <div class="tp-caption   tp-resizeme" id="slide-6-layer-2" data-x="['left','left','left','left']" data-hoffset="['-81','0','15','3']" data-y="['middle','middle','middle','middle']" data-voffset="['100','110','75','10']" data-fontsize="['21','21','18','17']" data-lineheight="['37','37','30','27']" data-width="['750','750','515','292']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:600,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:300px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power1.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="color: rgb(255, 255, 255); font-size: 13px; line-height: 22px; font-weight: 400; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; white-space: normal; min-height: 0px; min-width: 453px; max-height: none; max-width: 453px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                    When you feel in music touching your souls. Lunar music, where seeds happiness
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 518px; top: 286px; z-index: 7;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                            <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                <a class="tp-caption   tp-resizeme" href="" target="_blank" id="slide-6-layer-3" data-x="['left','left','left','left']" data-hoffset="['-80','0','15','3']" data-y="['middle','middle','middle','middle']" data-voffset="['200','200','182','140']" data-width="none" data-height="none" data-whitespace="normal" data-type="image" data-actions="" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:750,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:250px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power1.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; text-decoration: none; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 10px; white-space: normal; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                    <img src="/img/btn1.png" alt="" style="width: 104.377px; height: 30.1667px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 10px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 632px; top: 286px; z-index: 8;">
                        <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                            <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                <a class="tp-caption   tp-resizeme" href="https://play.google.com/store" target="_blank" id="slide-6-layer-44" data-x="['left','left','left','left']" data-hoffset="['109','190','200','3']" data-y="['middle','middle','middle','middle']" data-voffset="['200','200','182','200']" data-width="none" data-height="none" data-whitespace="normal" data-type="image" data-actions="" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:750,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:250px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power1.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power2.easeIn&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; text-decoration: none; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 10px; white-space: normal; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                    <img src="/img/btn2.png" alt="" style="width: 101.963px; height: 30.77px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 10px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="tp-loader off" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bannertimer" style="visibility: hidden; width: 94.9%; transform: translate3d(0px, 0px, 0px);"></div><div class="" style="top: 50%; transform: matrix(1, 0, 0, 1, 20, -20); left: 0px;"></div><div class="" style="top: 50%; transform: matrix(1, 0, 0, 1, -60, -20); left: 100%;"></div><div class="tp-bullets mixtape horizontal nav-pos-hor-center nav-pos-ver-bottom nav-dir-horizontal tp-forcenotvisible" style="width: 65px; height: 15px; top: 100%; transform: matrix(1, 0, 0, 1, -32, -35); left: 50%;"><div class="tp-bullet selected" style="left: 0px; top: 0px;"></div><div class="tp-bullet" style="left: 25px; top: 0px;"></div><div class="tp-bullet" style="left: 50px; top: 0px;"></div></div>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
    <!-- END OF SLIDER WRAPPER -->
    <div id="jquery_jplayer_2" class="jp-jplayer" style="width: 0px; height: 0px;">
        <img id="jp_poster_0" style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata" src="http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a" title="Bubble"></audio>
    </div>
    <div class="music-player">
        <div class="container">
            <div class="ms-player-content">
                <div class="ms-album">
                    <div class="ms-thumb">
                        <img id="Index_imgaudio" src="/img/ms1.jpg" alt="">
                    </div>
                    <div class="ms-th-info">
                        <h4>Music Audio</h4>
                        <span id="Index_singeraudio">Listen to music</span>
                    </div>
                </div>
                <div class="ms-player" id="jp_container_2">
                    <div class="jp-controls text-center">
                        <button class="jp-previous" tabindex="0"><i class="fa fa-backward"></i></button>
                        <button class="jp-play" tabindex="0"><i class="fas fa-play"></i></button>
                        <button class="jp-next" tabindex="0"><i class="fa fa-forward"></i></button>
                    </div>
                    <div class="title-bar">
                        <div class="ms-top">
                            <h4 class="jp-title" id="Index_titleaudio">Bubble</h4>
                            <div class="jp-time-holder">
                                <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                                <div class="jp-duration" role="timer" aria-label="duration">03:29</div>
                            </div>
                        </div>
                        <div class="jp-progress">
                            <div class="jp-seek-bar" style="width: 100%;">
                                <div class="jp-play-bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" tabindex="0">
                            <i class="fa fa-volume-up"></i>
                        </button>
                    </div>
                </div><!--ms-player end-->
            </div><!--ms-player-content end-->
        </div>
    </div><!--music-player end-->
</section>

<section class="album-section block">
    <div class="container">
        <div class="alb-head row">
            <div class="col-lg-7 col-md-7">
                <div class="alb-title">
                    <span>New Album </span>
                    <h2>Written in The Stars</h2>
                </div><!--alb-title end-->
            </div>
            <div class="col-lg-5 col-md-5">
                <ul class="album-dt">
                    <li>
                        <span>Record Label </span>
                        <h4>Blackmas Music </h4>
                    </li>
                    <li>
                        <span>Release Date  </span>
                        <h4>October 2020  </h4>
                    </li>
                </ul>
            </div>
        </div><!--alb-head end-->
        <div class="album-playlist-section" id="jp_container_1">
            <div class="album-img">
                <img id="Index_HA_Img" src="" alt="">
            </div><!--album-img end-->
            <div class="album-info">
                <div class="in-head">
                    <span class="ab-name">ALBUM</span>
                    <h2 id="Index_HA_Name"></h2>
                    <h5>By <span id="Index_HA_Singer">Keane</span></h5>
                    <span id="Index_HA_Info"></span>
                </div>
                <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;">
                    <img id="jp_poster_1" style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_1" preload="metadata" src="http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg" title="Cro Magnon Man"></audio>
                </div>
                <div class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-playlist">
                        <ul style="display: block;">
                        </ul>
                    </div>
                </div>
            </div><!--album-info end-->
            <div class="albm-music-bar">
                <div class="jp-type-playlist">
                    <div class="jp-gui jp-interface">
                        <div class="jp-progress">
                            <div class="jp-seek-bar" style="width: 100%;">
                                <div class="jp-play-bar" style="width: 0%;"></div>
                            </div>
                        </div>
                        <div class="music-row row">
                            <div class="col-lg-4 col-md-4">
                                <div class="music-details">
                                    <h3 class="jp-title">Song</h3>
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="jp-controls text-center">
                                    <button class="jp-previous" tabindex="0"><i class="fa fa-backward"></i></button>
                                    <button class="jp-play" tabindex="0"><i class="fas fa-play"></i></button>
                                    <button class="jp-next" tabindex="0"><i class="fa fa-forward"></i></button>
                                    <button class="jp-stop" tabindex="0">stop</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="oth-controls">
                                    <div class="jp-time-holder">
                                        <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                                        <div class="jp-duration" role="timer" aria-label="duration">00:00</div>
                                    </div>
                                    <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0">
                                            <i class="fa fa-volume-up"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--album-playlist-section end-->
        <div class="bottom-text wow slideInUp" data-wow-animation="1000ms" style="visibility: hidden; animation-name: none;">
            <p>Hot Album </p>
            <ul class="bt-btns">
                <li><a class="apple" href="#" title=""><i class="fab fa-apple"></i> Buy on Itunes</a></li>
                <li><a class="spotify" href="#" title=""><i class="fab fa-spotify"></i> Listen on Spotify</a></li>
            </ul>
        </div><!--bottom-text end-->
    </div>
</section><!--album-section end-->

<section class="block2">
    <div class="fixed-bg bg2 overlay"></div>
    <div class="container">
        <div class="music-video wow zoomIn" data-wow-duration="1000ms" style="visibility: hidden; animation-duration: 1000ms; animation-name: none;">
            <a href="https://www.youtube.com/watch?v=-B7-Vcdlld8" title="" class="play-btn swipebox"><i class="fa fa-play"></i></a>
            <h3>Hot Singer</h3>
        </div><!--music-video end-->
    </div>
</section>


<section class="block">
    <div class="fixed-bg black-bg"></div>
    <div class="container">
        <div class="gallery-section row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="gallery-col overlay2">
                    <img src="~/img/img2.jpg" alt="">
                    <a rel="gallery-1" href="https://www.youtube.com/watch?v=aJOTlE1K90k" title="" class="overlay2 swipebox">
                        <span class="plus-icon"><i class="fa fa-play"></i></span>
                    </a>
                </div><!--gallery-col end-->
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="gallery-col overlay2">
                    <img src="~/img/img3.jpg" alt="">
                    <a rel="gallery-1" href="~/img/img3.jpg" title="" class="play-btn v2 swipebox"><i class="fa fa-plus"></i></a>
                </div><!--gallery-col end-->
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="gallery-col overlay2">
                    <img src="~/img/img4.jpg" alt="">
                    <a rel="gallery-1" href="https://www.youtube.com/watch?v=aJOTlE1K90k" title="" class="overlay2 swipebox">
                        <span class="plus-icon"><i class="fa fa-play"></i></span>
                    </a>
                </div><!--gallery-col end-->
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="gallery-col overlay2">
                    <img src="~/img/img5.jpg" alt="">
                    <a rel="gallery-1" href="~/img/img5.jpg" title="" class="play-btn v2 swipebox"><i class="fa fa-plus"></i></a>
                </div><!--gallery-col end-->
            </div>
        </div><!--gallery-section end-->
    </div>
</section>

<section class="block">
    <div class="container-fluid p-0">
        <div class="about-section row">
            <div class="col-lg-6">
                <div class="about-text wow slideInLeft" data-wow-duration="1000ms" style="visibility: hidden; animation-duration: 1000ms; animation-name: none;">
                    <h2 class="sm-title">Artist Bio</h2>
                    <span>“If I can play one note and make you cry, then that's better than those fancy dancers playing twenty notes.” </span>
                    <p>Southern Avenue is a Memphis street that runs from the easternmost part of the city limits all the way to Soulsville, the original home of Stax Records. Southern Avenue is also the name of a fiery young Memphis quintet that embodies its home city's soul, blues and gospel traditions.</p>
                    <ul class="social-links">
                        <li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" title=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
                    </ul><!--social-links end-->
                </div><!--about-text end-->
            </div>
            <div class="col-lg-6">
                <div class="prz-thumb">
                    <div class="image-thumb">
                        <img src="~/img/img1.jpg" alt="">
                    </div><!--image-thumb end-->
                </div>
            </div>
        </div><!--about-section end-->
    </div>
</section>

<section class="contact-section">
    <div class="fixed-bg bg3"></div>
    <div class="ct-content">
        <div class="contact-content">
            <div class="ct-head">
                <h2>Contact Us</h2>
                <span>Or come and drink coffee in comfy place</span>
            </div><!--ct-head end-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="wd-content">
                        <h3>Booking </h3>
                        <ul>
                            <li>Quan Nguyen</li>
                            <li><a href="mailto:example@example.com" title="">mus@music.com</a></li>
                        </ul>
                    </div><!--wd-content end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="wd-content">
                        <h3>Management  </h3>
                        <ul>
                            <li>Lunar</li>
                            <li><a href="mailto:example@example.com" title="">lunar@music.com</a></li>
                        </ul>
                    </div><!--wd-content end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="wd-content">
                        <h3>Press Agency  </h3>
                        <ul>
                            <li>MusLunar</li>
                            <li><a href="mailto:example@example.com" title="">MusLunar@music.com</a></li>
                        </ul>
                    </div><!--wd-content end-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="dp-text">
                        <h3>Drop us a line or two, we are open for creative minds and music featurings!</h3>
                        <span>Get in Touch</span>
                        <a href="#" title="" class="mail-link">info@music.com</a>
                    </div><!--dp-text end-->
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="wd-content">
                        <h3>Our Music Studio  </h3>
                        <ul>
                            <li>338 Chien Luoc, Binh Tan District, HCM City</li>
                        </ul>
                    </div><!--wd-content end-->
                </div>
            </div>
            <ul class="lg-social wow slideInLeft" data-wow-duration="1000ms" style="visibility: hidden; animation-duration: 1000ms; animation-name: none;">
                <li><a href="#" title="" class="spotify-ic"><img src="~/img/spotify.png" alt=""></a></li>
                <li><a href="#" title="" class="music"><img src="~/img/music.png" alt=""></a></li>
                <li><a href="#" title="" class="youtube"><img src="~/img/play.png" alt=""></a></li>
                <li><a href="#" title="" class="soundcloud"><img src="~/img/soundcloud.png" alt=""></a></li>
            </ul><!--lg-social end-->
        </div><!--contact-content end-->
    </div><!--ct-content end-->
</section><!--contact-section end-->

<section class="block">
    <div class="fixed-bg black-bg"></div>
    <div class="container">
        <div class="subscribe-section text-center wow slideInUp" data-wow-duration="1000ms" style="visibility: hidden; animation-duration: 1000ms; animation-name: none;">
            <h2>Stay in Touch</h2>
            <span>Subscribe to our newsletter and stay updated on the latest music albums, live shows and music releases.</span>
            <form class="subs-form">
                <div class="input-field">
                    <input type="email" name="email" placeholder="Enter your email address">
                    <span class="em-icon"><i class="fa fa-envelope"></i></span>
                </div>
                <button type="submit" class="theme-btn"><i class="fa fa-paper-plane"></i>Subscribe</button>
            </form>
        </div><!--subscribe-section end-->
    </div>
</section>

<script>
    let Index_DataMusic = [];
    $(document).ready(function () {
        setTimeout(function () { $('.preloader').hide(500); }, 1000);

        Index_LoadPlaylist();
    })

    function Index_LoadPlaylist() {
        new Promise((resolve, reject) => {
            $.ajax({
                url: "api/Song/getAll",
                type: "POST",
                data: {},
                contentType: 'application/json; charset=utf-8',
                async: true,
                success: function (result) {
                    if (result != "0") {
                        let data = [...result];
                        if (data && data.length != 0) {
                            Index_DataMusic = data.reduce((pre, arr) => { if (arr.id) pre[arr.id] = arr; return pre; }, {});
                            Index_RenderHotAlbum(Index_DataMusic)
                            let musiclist = data.map(e => {
                                return { title: e.name, mp3: e.source || "https://gw.inutil.info/ipfs/QmRZWxkVZyvNHxWxUN5GMi5hEG6g8nVavmMH4wWj8eK8md" }
                            })
                            Index_Event();
                            Index_SetJPHeader(musiclist);
                        }
                    }
                }
                , beforeSend: function (xhr) {
                },
            });
            resolve();
        });
    }

    function Index_SetJPHeader(data) {
        $("#jquery_jplayer_2").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    title: data[0].title,
                    mp3: data[0].mp3
                    //m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
                    //oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
                });
            },
            play: function () { // To avoid multiple jPlayers playing together.
                $(this).jPlayer("pauseOthers");
            },
            swfPath: "../js",
            //supplied: "m4a, oga",
            cssSelectorAncestor: "#jp_container_2",
            wmode: "window",
            globalVolume: true,
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true
        });

        new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_2",
            cssSelectorAncestor: "#jp_container_2"
        }, data, {
            swfPath: "../../dist/jplayer",
            //supplied: "oga, mp3",
            wmode: "window",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true
        });
    }

    async function Index_RenderHotAlbum(data) {
        return new Promise(function (resolve) {
            let dt = [...Object.values(data)];
            let newestRealse = dt.reduce(function (a, b) { return a.groupRelease > b.groupRelease ? a : b; });
            let resData = dt.filter(e => e.groupId == newestRealse.groupId);
            let total = resData.length ?? 0;
            let date = new Date(resData[0].groupRelease ?? '1900-01-01');
            let img = resData[0]?.groupImg || '/img/default.jpg';
            $("#Index_HA_Img").attr('src', img);
            $("#Index_HA_Name").text(resData[0].groupName ?? 'Anonymous')
            $("#Index_HA_Singer").text(resData[0].singer ?? 'Anonymous')
            $("#Index_HA_Info").text(`${total} Songs - ${date.getMonth() ?? 01}\\${date.getFullYear() ?? 1900}`)
            Index_Render_HA_Item(resData);
            resolve();
        })
    }

    async function Index_Render_HA_Item(data) {
        return new Promise(function (resolve) {
            if (data && data.length > 0) {
                let musiclist = data.map(e => {
                    return { title: e.name, mp3: e.source || "https://gw.inutil.info/ipfs/QmRZWxkVZyvNHxWxUN5GMi5hEG6g8nVavmMH4wWj8eK8md" }
                })
                $("#jquery_jplayer_1").jPlayer({
                    ready: function () {
                        $(this).jPlayer("setMedia", {
                        });
                    },
                    play: function () { // To avoid multiple jPlayers playing together.
                        $(this).jPlayer("pauseOthers");
                    },
                    swfPath: "../js",
                    //supplied: "m4a, oga",
                    cssSelectorAncestor: "#jp_container_1",
                    wmode: "window",
                    globalVolume: true,
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true
                });
                new jPlayerPlaylist({
                    jPlayer: "#jquery_jplayer_1",
                    cssSelectorAncestor: "#jp_container_1"
                }, musiclist, {
                    swfPath: "../../dist/jplayer",
                    //supplied: "oga, mp3",
                    wmode: "window",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true
                });
            }
            resolve();
        })
    }

    function Index_Event() {
        $("#Index_titleaudio").on('DOMSubtreeModified', function () {
            var title = $(this).html();
            let data = [...Object.values(Index_DataMusic)];
            if (data && data.length > 0) {
                let obj = data.filter(e => decodeHtml(e.name.trim().toLowerCase()) == decodeHtml(title.trim().toLowerCase()));
                let img = obj[0]?.image || '/img/default.jpg';
                $("#Index_imgaudio").attr('src', img);
                $("#Index_singeraudio").html(obj[0]?.singer ?? 'Listen to music')
            }
        })
    }
</script>